<form [formGroup]="candidatoForm" (ngSubmit)="onSubmit()" class="canvas">
  <!-- NAVBAR -->
  <div class="navbar">
    <!-- BOTÓN VOLVER -->
    <button type="button" class="back-btn" (click)="goBack()">← Volver</button>

    <span class="navbar-title">Registro de Candidatos</span>
  </div>

  <div class="form-container">
    <!-- CAMPOS -->
    <label>NOMBRE CANDIDATO</label>
    <input type="text" formControlName="nombre" />

    <label>PARTIDO POLÍTICO</label>
    <div *ngIf="loadingPartidos" class="loading-text">Cargando partidos...</div>
    <div *ngIf="errorPartidos" class="error-text">
      {{ errorPartidos }}
      <button type="button" (click)="cargarPartidos()">Reintentar</button>
    </div>
    <select formControlName="idPartido" *ngIf="!loadingPartidos && !errorPartidos">
      <option value="">Seleccione un partido</option>
      <option *ngFor="let p of partidos" [value]="p.idPartido">
        {{ p.nombre }} ({{ p.sigla }})
      </option>
    </select>

    <label>ELECCIÓN</label>
    <select formControlName="eleccion" (change)="onEleccionChange()">
      <option value="">Seleccione</option>
      <option *ngFor="let e of elecciones" [value]="e.value">{{ e.label }}</option>
    </select>

    <label>CARGO</label>
    <select formControlName="cargo" [disabled]="!cargosDisponibles.length">
      <option value="">Seleccione</option>
      <option *ngFor="let c of cargosDisponibles">{{ c }}</option>
    </select>

    <!-- ARCHIVOS -->
    <div class="files-section">
      <h3>Documentación requerida</h3>

      <div class="files-grid">
        <div
          class="file-card"
          *ngFor="let file of fileTypes; let i = index"
          [class.bottom]="i >= 3"
        >
          <span class="file-title">{{ file.label }}</span>

          <!-- INPUT -->
          <input
            type="file"
            accept="application/pdf"
            hidden
            (change)="onFileChange($event, file.key)"
            #fileInput
          />

          <!-- BOTÓN -->
          <div class="upload-btn" *ngIf="!archivos[file.key]" (click)="fileInput.click()">
            Subir PDF
          </div>

          <!-- PREVIEW -->
          <div class="preview" *ngIf="archivos[file.key]">
            <div class="preview-content">
              <span class="pdf-icon">📄</span>
              <span class="file-name">
                {{ archivos[file.key].name }}
              </span>
            </div>

            <button type="button" class="remove-btn" (click)="removeFile(file.key)">✕</button>
          </div>
        </div>
      </div>
    </div>

    <!-- BOTÓN -->
    <button type="submit" class="submit-btn">Solicitar aprobación</button>
  </div>
</form>
