<div class="login">
  <div class="login__container">
    <div class="login__card">
      <h1>Ingreso al sistema</h1>
      <p class="subtitle">Acceda al sistema para gestionar el proceso electoral</p>

      <form (ngSubmit)="onLogin()" #form="ngForm">
        <!-- USUARIO -->
        <div class="form-group">
          <label>Usuario</label>
          <input
            type="text"
            [(ngModel)]="usuario"
            name="usuario"
            required
            placeholder="Ingrese su usuario"
          />
        </div>

        <!-- CONTRASEÑA -->
        <div class="form-group">
          <label>Contraseña</label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            required
            placeholder="Ingrese su contraseña"
          />
        </div>

        <button class="btn btn--primary glow" type="submit" [disabled]="loading">
          {{ loading ? 'Ingresando...' : 'Ingresar' }}
        </button>
      </form>
    </div>
  </div>

  <!-- TOAST -->
  <app-toast *ngIf="showToast" [message]="toastMessage" [type]="toastType" (close)="onCloseToast()">
  </app-toast>
</div>
